
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	/*scrollbar-width: none; /*DEMO*/
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

hr {
	width: 100%;
	border: none;
	height: 1px;
	background: #CCC;
	margin: 16px 0;
}

span.button {
	padding: 8px 12px;
	cursor: pointer;
	background: #2654C8;
	color: #FFFFFF;
	border: none;
	transition: background 200ms;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 4px;
	margin: 16px 0;
}

span.button, span.button a {
	color: #FFFFFF !important;
}

span.button:hover {
	background: #173A94;
}

span.button:hover a {
	text-decoration: none !important;
}

.spacer {
	width: 100vw;
}

.spacer.nav {
	height: 96px;
}

.spacer.footer {
	height: 105px;
}

#content article *, #content article {
	padding-bottom: 18px;
	display: block;
}

#content a, b {
	display: inline;
	padding: 0;
}

#content * a {
	color: #006699;
}

#content * a:hover {
	text-decoration: underline;
}

#content h1, #content h2 {
	font-size: 24px;
	font-weight: 900;
	padding-bottom: 4px;
}

#content article span, #content article span>a {
	font-size: 14px;
	color: #666666;
}

#content img {
	width: 100%;
}

#content article p {
	font-family: 'Roboto Slab', serif;
}

#container {
	display: block;
	width: 100%;
	min-height: 100vh;
	position: relative;
}

#content {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 24px;
	box-sizing: border-box;
}

#footer {
	width: 100%;
	background: #121212;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#footer p {
	max-width: 800px;
	margin: 0 auto;
	padding: 24px;
	color: #888888;
	box-sizing: border-box;
}

#footer a {
	text-decoration: none;
	color: #FFFFFF;
}