.fat_span, .italic_span, .underlined_span, .link_span {
    display: inline-block !important;
}

.fat_span {
    font-weight: bold !important;
}

.italic_span {
    font-style: italic !important;
}

.underlined_span {
    text-decoration: underline !important;
}

.img_text_span {
    font-size: 12px !important;
}

