{% extends 'base.html' %}

{% block content %}

{% include 'admin/post_forms.html'%}

{% endblock %}

{% block script_footer %}
<script src="{{ url_for('static', filename='js/manager.js') }}"></script>
<script src="{{ url_for('static', filename='js/tagmanager.js') }}"></script>
<script src="{{ url_for('static', filename='js/filemanager.js') }}"></script>

<script>
    imageList = []
    if ('{{ image_sql }}' != "") imageList = '{{ image_sql }}'.split(' ; ');

    for (let i=0; i<imageList.length; i++) {
        fetch('/static/blog_images/'+imageList[i])
        .then( res => res.blob() )
        .then ( blob => {
            file = new File([blob], imageList[i].split('/')[imageList[i].split('/').length-1], blob);
            files.push(file);
            buildFileHtml();
        })
    }

    if ('{{ tag_sql }}' != "") tags = '{{ tag_sql }}'.split(' ; ');
    buildTagHtml();

    function confirm() {
        let data = new FormData();
        const captionInput = $('#caption_input').prop('value');
        const bodyInput = $('#body_input').prop('value');
        data.append('caption', captionInput);
        data.append('body', bodyInput);

        let nextFileNum = 1;
        files.forEach( file => {
            data.append(`file${ nextFileNum }`, files[nextFileNum-1])
            nextFileNum++;
        })

        $.ajax({
            type: 'POST',
            url: '/admin/edit/'+'{{ post.id }}',
            data: data,
            // required to tell jquery that no further porcessing of the data is needed
            contentType: false,
            cache: false,
            processData: false,
            success: response => {
                if (response.redirect) window.location.href = response.url
            },
        })
        data = new FormData();
        nextFileNum = 1;
    }
</script>
{% endblock %}