{% extends 'user/main.html' %}

{% block user_content %}
<script>
    $('#measurements_link').addClass('active')
</script>

{% if bme_vals|length < 1 %}
<p>Es sind keine BME-Messungen verfügbar.</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Messungszeit</th>
        <th>Temperatur</th>
        <th>Luftfeuchte</th>
        <th>Luftdruck</th>
    </tr>
    {% for bme_val in bme_vals %}
    <tr>
        <td>{{ bme_val.id }}</td>
        <td>{{ bme_val.time.__format__('%d.%m.%Y' ' ' '%H:%M:%S') }}</td>
        <td>{{ bme_val.temperature }}</td>
        <td>{{ bme_val.humidity }}</td>
        <td>{{ bme_val.pressure }}</td>
        <td>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if mpu_vals|length < 1 %}
<p>Es sind keine MPU-Messungen verfügbar.</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Messungsdatum</th>
        <th>Gyroskop X</th>
        <th>Gyroskop Y</th>
        <th>Gyroskop Z</th>
        <th>Beschleunigung X</th>
        <th>Beschleunigung Y</th>
        <th>Beschleunigung Z</th>
        <th>Rotation X</th>
        <th>Rotation Y</th>
    </tr>
    {% for mpu_val in mpu_vals %}
    <tr>
        <td>{{ mpu_val.id }}</td>
        <td>{{ mpu_val.time.__format__('%d.%m.%Y' ' ' '%H:%M:%S') }}</td>
        <td>{{ mpu_val.gyroscope_x }}</td>
        <td>{{ mpu_val.gyroscope_y }}</td>
        <td>{{ mpu_val.gyroscope_z }}</td>
        <td>{{ mpu_val.acceleration_x }}</td>
        <td>{{ mpu_val.acceleration_y }}</td>
        <td>{{ mpu_val.acceleration_z }}</td>
        <td>{{ mpu_val.rot_x }}</td>
        <td>{{ mpu_val.rot_y }}</td>
        <td>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}