{% extends 'user/main.html' %}

{% block user_content %}
<script>
    $('#posts_link').addClass('active')
</script>

<a href="{{ url_for('admin_create_post') }}" class="button" style="border-radius: 50%; display: block; padding: 8px; width: 24px; height: 24px"><img src="{{ url_for('static', filename='img/add-24px.svg') }}" style="fill: white"/></a>

{% if posts|length < 1 %}
<p>Es sind keine Blogposts verfügbar.</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Erstelldatum</th>
        <th>Titel</th>
        <th>Aktionen</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.time_created.__format__("%d.%m.%Y") }}</tds>
        <td><a href="{{ url_for( 'blog_post', id=post.id ) }}">{{ post.caption }}</a></td>
        <td>
            <a href="{{ url_for( 'delete', id=post.id ) }}" ><img src="{{ url_for('static', filename='img/delete-24px.svg') }}" /></a>
            <a href="{{ url_for( 'edit', id=post.id ) }}" ><img src="{{ url_for('static', filename='img/edit-24px.svg') }}" /></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}