{% extends 'base.html' %}

{% block content %}
<p>Create new Blog Post:</p>

<form action="javascript:post()" method="post" enctype=multipart/form-data id="blog_post_form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" id="caption_input">
    <textarea type="text" id="body_input"></textarea>
    <input type=file id="file_input" onchange="set_file_input()" style="display: none;">
    <input type="button" value="Upload File" onclick="$(`#file_input`).click();" />
    <input type="submit" value="Post Blog">
</form>

<div id="current_file_div">

</div>

{% if posts|length < 1 %}
<p>There are no Blogposts available!</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Time-created</th>
        <th>Caption</th>
        <th>Body</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.time_created.__format__("%d.%m.%Y %H:%M") }}</tds>
        <td>{{ post.caption }}</td>
        <td>{{ post.body }}</td>
        <td>
            <a href="{{ url_for( 'delete', id=post.id ) }}">Delete</a>
            <br>
            <a href="{{ url_for( 'edit', id=post.id ) }}">Edit</a>
            <br>
            <a href="{{ url_for( 'blog_post', id=post.id ) }}">Go To</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if users|length < 1 %}
<p>There are no Users available!</p>
{% else %}
<table>
    <tr>
        <th>User_ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</tds>
        <td>{{ user.email }}</td>
        <td>{{ user.admin_acc }}</td>
        <td>
            <a href="{{ url_for( 'manage_admin', id=user.id ) }}">
                {% if user.admin_acc==true %}
                Remove Admin
                {% else %}
                Make Admin
                {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block script_footer %}
<script>
    let data = new FormData();
    data.delete('file1');
    let next_file_num = 1;

    set_file_input = () => {
        data.append(`file${ next_file_num }`, $("#file_input").prop('files')[0]);
        add_to_manager(next_file_num);
        $("#file_input").val("");
        next_file_num++;
    }

    add_to_manager = id => {
        $("#current_file_div").append(`
                <div id="file_div_${ id }" class="file_div" draggable="true">
                    <p id="file_p_${ id }" class="file_p">
                        ID: ${ id }: Name: ${ data.get('file'+id).name }: Type: ${ data.get('file'+id).type }
                        <a onclick="delete_file(${ id })" style="cursor: pointer;">Delete</a>
                    </p>
                </div>
            `);
        setup_drag_listeners();
    }

    delete_file = id => {
        data_tmp = new FormData();
        let i = 1;
        let count = 1;
        for (let pair of data.entries()) {
            if (i < id || i > id) {
                data_tmp.append('file' + count, pair[1]);
                count++;
            }
            i++;
        }
        data = data_tmp;
        build_html();
    }

    switch_files = (id1, id2) => {
        data_tmp = new FormData();
        let i = 1;
        let tmp_data_var;
        for (let pair of data.entries()) {
            if (i != id1 && i != id2) data_tmp.append(pair[0], pair[1]);
            else if (i == id1) {
                if (!tmp_data_var) {
                    tmp_data_var = pair[1];
                    data_tmp.append('file' + i, data.get('file' + id2));
                } else data_tmp.append('file' + i, tmp_data_var);
            } else if (i == id2) {
                if (!tmp_data_var) {
                    tmp_data_var = pair[1];
                    data_tmp.append('file' + i, data.get('file' + id1));
                } else data_tmp.append('file' + i, tmp_data_var);
            }
            i++;
        }
        data = data_tmp;
        build_html();
    }

    build_html = () => {
        i = 1;
        $("#current_file_div").html("");
        for (let key of data.keys()) {
            add_to_manager(i);
            i++;
        }
    }

    let files;

    function handleDragStart(e) {
        this.style.opacity = '0.4';
        dragSrcEl = this;
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.innerHTML);
    }

    function handleDragOver(e) {
        if (e.preventDefault) e.preventDefault();
        e.dataTransfer.dropEffect = 'move';
        return false;
    }

    function handleDragEnter(e) {
        this.classList.add('over');
    }

    function handleDragLeave(e) {
        this.classList.remove('over');
    }

    function handleDrop(e) {
        if (e.stopPropagation) e.stopPropagation();
        if (dragSrcEl != this) {
            let src_id = parseInt(dragSrcEl.id.slice(9));
            let dest_id = parseInt(this.id.slice(9));
            switch_files(src_id, dest_id);
        }
        return false;
    }

    function handleDragEnd(e) {
        [].forEach.call(files, function (file) {
            file.classList.remove('over');
            file.style.opacity = 1;
        });
    }

    setup_drag_listeners = () => {
        files = document.querySelectorAll(".file_div");
        [].forEach.call(files, function (file) {
            file.addEventListener('dragstart', handleDragStart, false);
            file.addEventListener('dragenter', handleDragEnter, false);
            file.addEventListener('dragover', handleDragOver, false);
            file.addEventListener('dragleave', handleDragLeave, false);
            file.addEventListener('drop', handleDrop, false);
            file.addEventListener('dragend', handleDragEnd, false);
        });
    }

    post = () => {
        data.append('caption', $("#caption_input").prop('value'));
        data.append('body', $("#body_input").prop('value'));

        $.ajax({
            type: 'POST',
            url: '/admin',
            data: data,
            // required to tell jquery that no further porcessing of the data is needed
            contentType: false,
            cache: false,
            processData: false,
            success: response => {
                if (response.redirect) window.location.href = response.url
            },
        })
        data = new FormData();
        next_file_num = 1;
    }
</script>

<style>
    .file_div.over {
        border: 2px dashed #000;
    }
</style>
{% endblock %}