{% extends 'base.html' %}

{% block content %}
<p>Create new Blog Post:</p>

<form action="javascript:post()" method="post" enctype=multipart/form-data id="blog_post_form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" id="caption_input">
    <textarea id="body_input"></textarea>
    <input type=file id="file_input" onchange="setFileInput()" style="display: none;">
    <input type="button" value="Upload File" onclick="$(`#file_input`).click();" />
    <input type="submit" value="Post Blog">
</form>
<div id="current_file_div"></div>

<form action="javascript:addTag()">
    <input type="text" id="tag_input">
    <input type="submit" value="Add Tag">
</form>
<div id="current_tag_div"></div>

{% if posts|length < 1 %}
<p>There are no Blogposts available!</p>
{% else %}
<table>
    <tr>
        <th>ID</th>
        <th>Time-created</th>
        <th>Caption</th>
        <th>Body</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.time_created.__format__("%d.%m.%Y %H:%M") }}</tds>
        <td>{{ post.caption }}</td>
        <td>{{ post.body }}</td>
        <td>
            <a href="{{ url_for( 'delete', id=post.id ) }}">Delete</a>
            <br>
            <a href="{{ url_for( 'edit', id=post.id ) }}">Edit</a>
            <br>
            <a href="{{ url_for( 'blog_post', id=post.id ) }}">Go To</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if users|length < 1 %}
<p>There are no Users available!</p>
{% else %}
<table>
    <tr>
        <th>User_ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</tds>
        <td>{{ user.email }}</td>
        <td>{{ user.admin_acc }}</td>
        <td>
            <a href="{{ url_for( 'manage_admin', id=user.id ) }}">
                {% if user.admin_acc==true %}
                Remove Admin
                {% else %}
                Make Admin
                {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block script_footer %}
<script src="{{ url_for('static', filename='js/tagmanager.js') }}"></script>
<script src="{{ url_for('static', filename='js/filemanager.js') }}"></script>

<script>
    function post() {
        const captionInput = $('#caption_input').prop('value');
        const bodyInput = $('#body_input').prop('value');
        data.append('caption', captionInput);
        data.append('body', bodyInput);
        
        let tagString = '';
        tags.forEach( tag => tagString += ' ; '+tag);
        tagString = tagString.replace(/ ; /, '');
        data.append('tags', tagString);

        $.ajax({
            type: 'POST',
            url: '/admin',
            data: data,
            // required to tell jquery that no further porcessing of the data is needed
            contentType: false,
            cache: false,
            processData: false,
            success: response => {
                if (response.redirect) window.location.href = response.url
            },
        });
        data = new FormData();
        nextFileNum = 1;
    }
</script>

<style>
    .file_div.over {
        border: 2px dashed #000;
    }
</style>
{% endblock %}