{% extends 'base.html' %}

{% block head%}
    <!-- put additional css/js-links for index-/frontpage here -->

{% endblock %}

{% block content %} 
    <!-- put content for console here -->

    <p>Create new Blog Post:</p>

    <form action="/admin" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="caption">
        <input type="text" name="body">
        <input type="submit" value="Post Blog">
    </form>

    {% if posts|length < 1 %}
        <p>There are no Blogposts available!</p>
    {% else %}
        <table>
            <tr>
                <th>ID</th>
                <th>Time-created</th>
                <th>Caption</th>
                <th>Body</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.time_created.__format__("%d.%m.%Y %H:%M") }}</tds>
                    <td>{{ post.caption }}</td>
                    <td>{{ post.body }}</td>
                    <td>
                        <a href="{{ url_for( 'delete', id=post.id ) }}">Delete</a>
                        <br>
                        <a href="{{ url_for( 'edit', id=post.id ) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if users|length < 1 %}
        <p>There are no Users available!</p>
    {% else %}
        <table>
            <tr>
                <th>User_ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Admin</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</tds>
                    <td>{{ user.email }}</td>
                    <td>{{ user.admin_acc }}</td>
                    <td>
                        <a href="{{ url_for( 'manage_admin', id=user.id ) }}">
                            {% if user.admin_acc==true %}
                                Remove Admin
                            {% else %}
                                Make Admin
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}