{% extends 'base.html' %}

{% block head%}
    <!-- put additional css/js-links for index-/frontpage here -->
    <script>
        $(window).on('scroll', () => check_ajax_height())

        let lowestScrollPos = 0;
        let currentHeight = 0;
        let blog_id = 1;
        let max_article_reached = false;

        $.ajaxSetup({ 
			beforeSend: (xhr, settings) => {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}"); 
			} 
		});

        check_ajax_height = () => {
            // if ($("#ajax_limiter")[0].getBoundingClientRect().y-2*$(window).height()<0) console.log("alarm")
            if (!max_article_reached) {
                lowestScrollPos = document.documentElement.scrollTop>lowestScrollPos?document.documentElement.scrollTop:lowestScrollPos;
                if (lowestScrollPos+5*$(window).height()>currentHeight) {
                    $.post('/blog', "blog_id="+blog_id).done(response => {
                        if (response.article) {
                            $("#content").html($("#content").html()+`<article id='article_${ blog_id }'><h2>${ response.caption }</h2><span>Posted <a href="#">${ response.time_created }</a> by <a href="#">semmelsamu</a></span><p>${ response.body }</p></article>`)
                            currentHeight += $(`#article_${ blog_id }`).height()
                            blog_id++;
                        } else max_article_reached = true;
                    }).fail(() => destElem.html('Error: Could not contact server.'));
                }
            }
        }
        check_ajax_height();
    </script>
{% endblock %}

{% block content %} 
    <!-- put content for blogpage here -->
	<article>
    <h2>Blog</h2>

    {% if posts|length < 1 %}
        <p>There are no Blogposts available!</p>
    {% else %}
        <table>
            <tr>
                <th>Time-created</th>
                <th>Caption</th>
                <th>Body</th>
            </tr>
            {% for post in posts %}
                <tr id="post_{{ post.id }}">
                    <td>{{ post.time_created.__format__("%d.%m.%Y %H:%M") }}</tds>
                    <td>{{ post.caption }}</td>
                    <td>{{ post.body }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
	</article>
	
	<article>
		<h2>Lorem ipsum</h2>
		<span>Posted <a href="#">21.11.2019</a> by <a href="#">semmelsamu</a></span>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <a href="#">no sea takimata</a> sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		<img src="https://images.pexels.com/photos/2194062/pexels-photo-2194062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
	</article>
				
	<article>
		<h2>Some more text</h2>
		<span>Posted <a href="#">21.11.2019</a> by <a href="#">semmelsamu</a></span>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </article>
{% endblock %}