{% extends 'base.html' %}

{% block head%}
    <!-- put additional css/js-links for index-/frontpage here -->

{% endblock %}

{% block content %} 
    <!-- put content for blogpage here -->
    <h2>Blog</h2>

    {% if posts|length < 1 %}
        <p>There are no Blogposts available!</p>
    {% else %}
        <table>
            <tr>
                <th>Time-created</th>
                <th>Caption</th>
                <th>Body</th>
            </tr>
            {% for post in posts %}
                <tr id="post_{{ post.id }}">
                    <td>{{ post.time_created.__format__("%d.%m.%Y %H:%M") }}</tds>
                    <td>{{ post.caption }}</td>
                    <td>{{ post.body }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}