{% extends 'base.html' %}

{% block content %}
    <form action="javascript:changeUsernamePopup();" id="change_username_form">
        <div class="inner">
            {{ form.username(size=32) }}
            {{ form.submit() }}
        </div>
    </form>

    <div id="username_popup_wrapper" style="display: none; position: absolute; top: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(50, 50, 50, 0.8); justify-content: center;">
            <div id="username_popup_inner" style="height: 400px;">
                <div id="username_popup_main"></div>
                <button type="submit" onclick="closeUsernamePopup()">Submit</button>
            </div>
        </div>
{% endblock %}

{% block script_footer %}
    <script>
        $.ajaxSetup({ 
            beforeSend: (xhr, settings) => {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}"); 
            } 
        });

        let destElem = $("#username_popup_main")
        let destWrapper = $("#username_popup_wrapper")

        changeUsernamePopup = () => {
            $.post('/change_username', $("#change_username_form").serialize()).done(response => {
                if (response.text!=="") if (response.redirect == true) window.location.href = response.text;
                                        else {
                                            destElem.html(response.text);
                                            destWrapper.css("display", "flex")
                                        }
            }).fail(() => console.log('Error: Could not contact server.'));
        }

        closeUsernamePopup = () => destWrapper.css({"display": "none"});
    </script>
{% endblock %}