{% extends 'base.html' %}

{% block head%}
    <!-- put additional css/js-links for index-/frontpage here -->
{% endblock %}

{% block content %} 

    <form action="javascript:changePasswordPopup()" id="change_password_form" method="POST" class="change_password" autocomplete="off" novalidate>
        {{ form.password(size=32) }}
        {{ form.password2(size=32) }}
        {{ form.password3(size=32) }}
        {{ form.submit() }}
    </form>

    <div id="password_popup_wrapper" style="display: none; position: absolute; top: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(50, 50, 50, 0.8); justify-content: center;">
		<div id="password_popup_inner" style="height: 400px;">
			<div id="password_popup_main"></div>
			<button type="submit" onclick="closePasswordPopup()">Submit</button>
		</div>
	</div>

    <script>
        $.ajaxSetup({ 
            beforeSend: (xhr, settings) => {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}"); 
            } 
        });
    
        let destElem = $("#password_popup_main")
        let destWrapper = $("#password_popup_wrapper")
    
        changePasswordPopup = () => {
            let fromElem = $('#change_password_form').serialize();
            console.log(fromElem)
            $.post('/change_password', fromElem).done(response => {
                if (response.text!=="") if (response.redirect == true) window.location.href = response.text;
                                        else {
                                            console.log(response)
                                            destElem.html(response.text);
                                            destWrapper.css("display", "flex")
                                        }
            }).fail(() => destElem.html('Error: Could not contact server.'));
        }
    
        closePasswordPopup = () => destWrapper.css({"display": "none"});
    </script>
    
{% endblock %}