{% extends 'base.html' %}

{% block head%}
    <!-- put additional css/js-links for console here -->
    <title>P-Seminar PROJECT JUMBO - Console</title>
{% endblock %}

{% block menu_name %}
    Edit
{% endblock %}

{% block content %} 
    <!-- put content for console here -->

    <!-- TODO: add login -->

    <p>Edit Blog Post:</p>

    <form action="/edit/{{ task.id }}" method="POST">
        <input type="text" name="caption" value="{{ task.caption }}">
        <input type="text" name="body" value="{{ task.body }}">
        <input type="submit" value="Edit Blog">
    </form>

    
{% endblock %}