{% extends 'base.html' %}

{% block head%}
    
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %} 

<form action="" class="login" method="POST" novalidate>
	<div class="inner">
		<h1>Login</h1>
        {{ form.hidden_tag() }}
        {{ form.username(size=32) }}
			
        {{ form.password(size=32) }}
			
		{{ form.submit() }}
			
		<div>
			<div>{{ form.remember_me() }} <p id="keepLoggedInP">Angemeldet bleiben</p></div>
			<a href="#">Passwort vergessen?</a>
		</div>
		
        {% for error in form.username.errors %}
        <span style="color: red;">Username: {{ error }}</span>
        {% endfor %}
			
        {% for error in form.password.errors %}
        <span style="color: red;">Password: {{ error }}</span>
        {% endfor %}
		
	</div>
	
	<hr />
	
    <p>Noch kein Konto? <a href="{{ url_for('register') }}">Hier registrieren!</a></p>
    
    <div id="stepDialog" class="modal fade" tabindex=-1 role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>
</form>


		<!--
		<input type="text" placeholder="Benutzername"></input>
		<input type="password" placeholder="Passwort"></input>
		<input type="submit" value="Anmelden"></input>
		<input type="checkbox"></input><p>Angemeldet bleiben</p>
		<a href="#">Passwort vergessen?</a>
	</form>-->
{% endblock %}