{% extends 'base.html' %}

{% block head%}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %} 

	<form action="javascript:loginPopup()" id="login_form" class="login" autocomplete="off" novalidate>
		<div class="inner">
			<h1>Login</h1>
			{{ form.hidden_tag() }}
			{{ form.username(size=32) }}
			{{ form.password(size=32) }}	
			{{ form.submit() }}
				
			<div>
				<div>{{ form.remember_me() }} <p id="keepLoggedInP">Angemeldet bleiben</p></div>
				<a href="#">Passwort vergessen?</a>
			</div>
			
		</div>
		
		<hr />
		
		<p>Noch kein Konto? <a href="{{ url_for('register') }}">Hier registrieren!</a></p>
	</form>

	<div id="login_popup_wrapper" style="display: none; position: absolute; top: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(50, 50, 50, 0.8); justify-content: center;">
		<div id="login_popup_inner" style="height: 400px;">
			<div id="login_popup_main"></div>
			<button type="submit" onclick="closeLoginPopup()">Submit</button>
		</div>
	</div>

	<script>
		$.ajaxSetup({ 
			beforeSend: (xhr, settings) => {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}"); 
			} 
		});

		let destElem = $("#login_popup_main")
		let destWrapper = $("#login_popup_wrapper")

		loginPopup = () => {
			let fromElem = $('#login_form').serialize() + '&remember_me=' + $("#remember_me").is(":checked");
			console.log($("#remember_me").is(":checked"))
			console.log(fromElem)
			$.post('/login', fromElem).done(response => {
				if (response.text!=="") if (response.redirect == true) window.location.href = response.text;
										else {
											console.log(response)
											destElem.html(response.text);
											destWrapper.css("display", "flex")
										}
			}).fail(() => destElem.html('Error: Could not contact server.'));
		}

		closeLoginPopup = () => destWrapper.css({"display": "none"});
	</script>
	
{% endblock %}