
{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="javascript:registerPopup()" id="register_form" class="register" autocomplete="off" method="post">
        {{ form.hidden_tag() }}
        {{ form.username(size=32) }}
        {{ form.email(size=64) }}
        {{ form.password(size=32) }}
        {{ form.password2(size=32) }}
        {{ form.submit() }}
    </form>

    <script>
        $.ajaxSetup({ 
            beforeSend: (xhr, settings) => {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}"); 
            } 
        });
    
        registerPopup = () => {
            destElem = $("#register_popup_main")
            destWrapper = $("#register_popup_wrapper")
            var fromElem = $('#register_form').serialize();
            console.log(fromElem)
            
            $.post('/register', fromElem).done(response => {
                if (response.text!=="") if (response.redirect == true) window.location.href = response.text;
                                        else {
                                            destElem.html(response.text);
                                            destWrapper.css("display", "flex")
                                        }
            }).fail(() => destElem.html('Error: Could not contact server.'));
        }
    
        closeRegisterPopup = () => {
            destWrapper = $("#register_popup_wrapper")
            destWrapper.css({"display": "none"})
        }
        closeRegisterPopup();
    </script>
        
    <div id="register_popup_wrapper" style="display: none; position: absolute; top: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(50, 50, 50, 0.8); justify-content: center;">
        <div id="register_popup_inner" style="height: 400px;">
            <div id="register_popup_main"></div>
            <button type="submit" onclick="closeRegisterPopup()">Submit</button>
        </div>
    </div>
{% endblock %}