{% extends 'base.html' %}

{% block head%}
    <!-- put additional css/js-links for index-/frontpage here -->
{% endblock %}

{% block content %} 

	<h1>Account</h1>
	
    <p>ID: {{ current_user.user_id }}</p>
    <p>Benutzername: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
    <p>Admin: {{ current_user.admin_acc }}</p>

    <p><span class="button"><a href="{{ url_for('change_password') }}">Passwort ändern</a></span></a>
    
    {% if current_user.admin_acc == true %}
    <a href="{{ url_for('admin') }}">Konsole</a>
    {% endif %}
    
{% endblock %}