{% extends 'base.html' %}

{% block content %} 
    <form action="javascript:changePasswordPopup()" id="change_password_form" method="POST" class="change_password" autocomplete="off" novalidate>
        {{ form.password(size=32) }}
        {{ form.password2(size=32) }}
        {{ form.password3(size=32) }}
        {{ form.submit() }}
    </form>

    <div id="password_popup_wrapper" style="display: none; position: absolute; top: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(50, 50, 50, 0.8); justify-content: center;">
		<div id="password_popup_inner" style="height: 400px;">
			<div id="password_popup_main"></div>
			<button type="submit" onclick="closePasswordPopup()">Submit</button>
		</div>
    </div>
{% endblock %}

{% block script_footer %}  
    <script>

        let destElem = $("#password_popup_main")
        let destWrapper = $("#password_popup_wrapper")

        changePasswordPopup = () => {
            $.post('/user/change_password', $('#change_password_form').serialize()).done(response => {
                if (response.text!=="") if (response.redirect) window.location.href = response.text;
                                        else {
                                            console.log(response)
                                            destElem.html(response.text);
                                            destWrapper.css("display", "flex")
                                        }
            }).fail(() => console.log('Error: Could not contact server.'));
        }

        closePasswordPopup = () => destWrapper.css({"display": "none"});
    </script>
{% endblock %}