{% extends 'base.html' %}

{% block head %} 
<link href="{{ url_for('static', filename='css/sideNav.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet">
{% endblock %}

{% block content %} 
	<nav class="sideNav">
        <ul>
            <li ><a href="{{ url_for('user_page') }}">Übersicht</a></li>
            <li class="active"><a href="{{ url_for('user_settings') }}">Einstellungen</a></li>
            {% if current_user.admin_acc == true %}
            <span>Admin-Einstellungen</span>
            <li><a href="{{ url_for('admin_users') }}">Nutzerliste</a></li>
            <li><a href="{{ url_for('admin_posts') }}">Beitragsliste</a></li>
            <li><a href="{{ url_for('measurements') }}">Messungsliste</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="gridContainer">{% block user_content %}  {% endblock %}</div>
{% endblock %}