{% extends 'base.html' %}

{% block head %} 
<link href="{{ url_for('static', filename='css/sideNav.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet">
{% endblock %}

{% block content %} 
	<nav class="sideNav">
        <ul>
            <li id="overview_link"><a onclick='setup("#overview_link", false); requestHtml("/user")' style="cursor: pointer;">Übersicht</a></li id="overview_link">
            <li id="settings_link"><a onclick='setup("#settings_link", false); requestHtml("/user/settings")' style="cursor: pointer;">Einstellungen</a></li>
            {% if current_user.admin_acc == true %}
            <span>Admin-Einstellungen</span>
            <li id="user_link"><a onclick='setup("#user_link", false); requestHtml("/admin/users")' style="cursor: pointer;">Nutzerliste</a></li id="user_link">
            <li id="posts_link"><a onclick='setup("#posts_link", false); requestHtml("/admin/posts")' style="cursor: pointer;">Beitragsliste</a></li id="posts_link">
            <li id="measurements_link"><a onclick='setup("#measurements_link", false); requestHtml("/admin/measurements")' style="cursor: pointer;">Messungsliste</a></li id="measurements_link">
            {% endif %}
        </ul>
    </nav>

    <div id="gridContainer">{% block user_content %}  {% endblock %}</div>

    <script>
        function setup(active, con) {
            $('.sideNav>ul>li').removeClass('active');
            $(active).addClass('active');
            ajaxContinue = con
            requestID = 1
        }
        setup("#overview_link", "False");

        function requestHtml(route) {
            $.post(route, ajaxContinue?requestID:'').done(response => {
                if (ajaxContinue) requestID++;
                $("#gridContainer").html(response.body)
            }).fail(() => console.error('Error: Could not contact server.'))
        }
        requestHtml();
    </script>
{% endblock %}